@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.q{
    margin-left: 56%;
    height: 80px;
    width: 1200px;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}
.q:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 1em;
    background: linear-gradient(0deg, black 0, transparent 80%);
    -webkit-background-clip: text;
    color: transparent;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .box{
    position: relative;
    width: 350px;
    padding: 40px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    /* margin: 20px; */
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
#box1{
    margin-left: 100px;
}
#box3{
    margin-right: 100px;
}
.container .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;

}
.container .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}
.container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #3a717a;
    background: #3a717a;
}
.container .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #3a717a;
}
.container .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #2e2635;
    background: #2e2635;
}
.container .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #2e2635;
}
.container .box:nth-child(4) .icon{
    box-shadow: 0 0 0 0 #770909;
    background: #770909;
}
.container .box:nth-child(4):hover .icon{
    box-shadow: 0 0 0 400px #770909;
}
.container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s
}
.container .box:hover .content{
    color: white;
}
.container .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.container .box .content p{
    margin: 0;
    padding: 0;
}
.backButtons{
  width:100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.backButtonsDiv{
  display: flex;
  justify-content: center;
  width:30%;
  height: 80px;

}
.butBack{
  margin-top:40px;
  margin-left: 10%;
  width: 80%;
  background-color:  #4a82ea;
  /* background-color: #4a82ea; */
  color: #fff;
  border: none;
  box-sizing: border-box;
  display: block;
  height: 55px;
  line-height: 55px;
  min-width: 180px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  font-family: "Gotham SSm A","Gotham SSm B",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 700;
  letter-spacing: .3px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: button;
  border-radius: 4px;
}
.all{
    display: block;
}
.betweenCon1{
    width: 100%;
    height: 20px;
    margin-top: 100px;
    background-color: aquamarine;
}
.betweenCon{
    width: 100%;
    height: 20px;
    margin-top: 85px;
    margin-bottom: 60px;
    background-color: aquamarine;
}