<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Us</title>
</head>
<body>
    <div class="container">
        <h2 data-text="Want to work in our company?" class="q">Want to work in our company?</h2>
        <div class="box" id="box1">
            <div class="icon">WD</div>
            <div class="content">
                <h3>WELL DONE</h3>
                <p>We encourage our employees when they work hard by giving them extra salary and giving the opportunity to climb the career ladder!</p>
            </div>
        </div>
        <div class="box" id="box2">
            <div class="icon">GJ</div>
            <div class="content">
                <h3>GOOD JOB</h3>
                <p>The right man can make a <b>GOOD JOB</b> out of any job. Alone we can do so little, together we can do so much. Your dedication and service is appreciated. Don't stop when you are tired.</p>
            </div>
        </div>
        <div class="box" id="box3">
            <div class="icon">NT</div>
            <div class="content">
                <h3>NICE TRY</h3>
                <p>Even if you will show a lot of unsuccessful initatives, we support you anyway! Because we like original and new ideas!</p>
            </div>
        </div>
    </div>
</body>
</html>
