<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Us</title>
</head>
<body>
    <div class="all">
        <div class="header"> <app-header></app-header></div>
        <div class="betweenCon">  
       </div>
    <div class="container">
        <h2 data-text="Why should you use our services?" class="q">Why should you use our services?</h2>
        <div class="box" id="box1">
            <div class="icon">F&E</div>
            <div class="content">
                <h3>FAST AND EASY</h3>
                <p>Our accredited travel agency will book your valid flight reservation and send it directly to your email in 3 hours or less. Available to everyone around the world. We book flight reservation, hotels & travel insurance WORLDWIDE for ALL kinds of visa application. Totally effortless and hassle-free!</p>
            </div>
        </div>
        <div class="box" id="box2">
            <div class="icon">24/7</div>
            <div class="content">
                <h3>AVAILABLE 24/7</h3>
                <p>Our customer service is available 24/7 via email and live chat. We reply to all messages within 24 hours. We are open 365 days of the year. Yep, even on weekends and holidays! If you have any questions, please read our FAQ, email us, or chat with us live anytime. We're happy to help!</p>
            </div>
        </div>
        <div class="box" id="box3">
            <div class="icon">OK</div>
            <div class="content">
                <h3>VERIFIABLE FLIGHT RESERVATION</h3>
                <p>You can reserve unlimited number of flights WORLDWIDE with a unique booking code which you can easily verify directly at the airline website. The flight reservation is valid for 2-3 weeks depending on the airline. Here is a sample flight reservation.  </p>
            </div>
        </div>
    </div>

    <!-- <div class="backButtons">
        <div class="backButtonsDiv">
          <div>
            <button class="butBack">Back</button>
          </div>
        </div>
      </div> -->

    <div class="betweenCon1">
    </div>
    </div>
    <app-footer></app-footer>
</body>
</html>
