<html>
  <body>
    <div class="all">
     <div class="header"> <app-header></app-header></div>
     <div class="betweenCon">  
    </div>
    <div class = "login-box">
        <h1>Login</h1>
            <div class = "textbox">
                <i class = "fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="Email" id="username" name="email" [(ngModel)]="logModel.email">
            </div>
            <div class = "textbox">
                <i class = "fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="logModel.password">
            </div>
            <div>
                <input class = "btn" type="submit" (click)="onLogin()" value="SIGN IN">
            </div>
    </div>
    <div class="betweenCon1">

    </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
