.admin {
    padding: 1rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr;
}
.admin_title {
    font-size: 24px;
    font-weight: bold;
}
.inputs {
    display: grid;
    grid-gap: 1rem;
}
.i_item {
    display: grid;
}
.i_item input {
    background: rgb(245, 245, 245);
    height: 40px;
    border: 0;
    margin: 0;
    padding: 0 1rem;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}
.label {
    font-size: 12px;
    color: #848484;
}
.i_button {
    background: rgb(93, 184, 93);
    display: grid;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.i_button:hover {
    transition: 0.2s;
    background: rgb(5, 168, 5);
}




.flights {
    display: grid;
    grid-gap: 1rem;
    padding: 0 1rem 1rem 1rem;
    grid-template-rows: auto auto 1fr;
    margin-top: 12px;
}
.flights .admin_title {
    margin-top: -12px;
    padding-bottom: 12px;
}
.f_item {
    display: grid;
    padding: 1rem;
    background: rgb(245, 245, 245);
    position: relative;
    grid-gap: 1rem;
    /* border: 1px solid #848484; */
}
.f_item__title {
    font-size: 20px;
    /* font-weight: bold; */
}
.f_item__content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 3rem;
    align-items: center;
}
.f_item__mid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.f_item__bar {
    height: 1px;
    background: #000;
}
.f_item__mid i {
    margin-left: -14px;
}
p:not(.time) {
    margin: 0;
    font-size: 14px;
    color: #848484;
}
.time {
    font-size: 20px;
    margin: 0;
    color: #000;
}
.buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}
.buttons i {
    color: #848484;
    cursor: pointer;
}